{% extends 'podapp/base.html' %}

{% block content %}
<!--
 id = models.AutoField(primary_key=True)
name = models.CharField(max_length=100, unique=True)
link = models.URLField(blank=True)
language = models.CharField(max_length=50, default="en-us")
copyright = models.CharField(max_length=50, default="All rights reserved")
email = models.EmailField(blank=True)
description = models.CharField(max_length=5000, default="Podcast Description")
image = models.URLField(blank=True)
author = models.CharField(max_length=200, default="Podcast Author")
itunes_subtitle = models.CharField(max_length=50, blank=True)
itunes_type = models.CharField(max_length=50, default="serial")
itunes_category = models.CharField(max_length=50, choices=ITUNES_CATEGORY, default="Society & Culture")




-->
<h2><a href="{{ object.link }}">{{ object.name }}</a></h2>
<p><strong>ID</strong>: {{ object.id }}</p>
<p><strong>Link</strong>: {{ object.link }}</p>
<p><strong>Language</strong>: {{ object.language }}</p>
<p><strong>Copyright</strong>: {{ object.copyright }}</p>
<p><strong>Email</strong>: {{ object.email }}</p>
<p><strong>Description</strong>: {{ object.description }}</p>
<p><strong>Author</strong>: {{ object.author }}</p>
<p><strong>Subtitle</strong>: {{ object.itunes_subtitle }}</p>
<p><strong>Type</strong>: {{ object.itunes_type }}</p>
<p><strong>Category</strong>: {{ object.itunes_category }}</p>
<br>
<h4>Episodes</h4>
    <ul>
        {% for episode in object.episode_set.all %}
            <li><a href ="{% url 'episode' episode.id %}">{{ episode.title }}</a></li>
        {% endfor %}
    </ul>

{% endblock %}